<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Profile</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<span>
	<body>
		<div class="topnav">
			<a href="profile"">Profile</a> 
			<a href="playCenter">Current Pet</a> 
			<a href="shop">Shop</a> 
			<a href="help" class="active">Help</a>
		</div>
		<h2>Help</h2>
		<p class = "center"> This page is to help you hos 
		</p>
		<br>
		<script type="text/javascript" src="scripts/petScript.js"></script>
	</body>
</span>
</html>

