poop<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Tamagonline</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<span>
	<body>
		<div id="topDivPush"></div>
		<div class="center">
			<h1>Tamagonline</h1>
			<form action=playCenter method="get" class="center">
				<!-- "post" -->
				<div class="center">
					<h3 class="inline">Username</h3>
					<input type="text" name="username" id="usernameBox" class="inline">
				</div>
				<br>
				<div class="center">
					<h3 class="inline">Password</h3>
					<input type="password" name="password" id="passwordBox"
						class="inline"><br>
				</div>
				<br> <input type="submit" name="Submit" id="submitButton"
					class="button inline">
			</form>
			<form action=printData method="get" class="center">
			<input type="submit" value="Huh" class="button"></input>
			</form>
		</div>
	</body>
</span>
</html>