<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Tamagonline</title>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <span>
  <body>
    <h1>Tamagonline</h1>
    <h2 class = "center"> play with your tamogatchi </h2>
    <canvas id="petCenter" width="1400" height="700" style="border:3px solid"></canvas>
    <br>
    <div class = "center">
    <button class = "button">Battle</button>
    <button class = "button">Train</button>
    <button class = "button">Care</button>
    <button class = "button">Frolick</button>
    </div>
    <script type = "text/javascript" src = "scripts/petScript.js"></script>
  </body>
</span>
</html>

