<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Tamagonline</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<span>
	<body>
		<div class="topnav">
			<a href="profile">Profile</a> 
			<a href="#news" class="active">Current Pet</a> 
			<a href="#news">Shop</a> 
			<a href="">Help</a> 

		</div>
		<h2>Pet Name Here</h2>
		<canvas id="petCenter"></canvas>
		<br>
		<br>
		<div class="center">
			<form action="battlePage" method="get" class="center inline">
				<input type="submit" value="Battle" class="button"></input>
			</form>
			<form action="trainPage" method="get" class="center inline">
				<input type="submit" value="Train" class="button"></input>
			</form>
			<form action="carePage" method="get" class="center inline">
				<input type="submit" value="Care" class="button"></input>
			</form>
			<form action="frolickPage" method="get" class="center inline">
				<input type="submit" value="Frolic" class="button"></input>
			</form>
		</div>
		<script type="text/javascript" src="scripts/petScript.js"></script>
	</body>
</span>
</html>

