<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Tamagonline</title>
      <link href="style.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type = "text/css">
  </head>
  <span>
  <body>
    <h1>Tamagonline</h1>
    <h2> play with me papi </h2>
    <canvas id="petCenter" width="1400" height="700" style="border:3px solid"></canvas>
    <br>
    <button class = "button">Battle</button>
    <button class = "button">Train</button>
    <button class = "button">Care</button>
    <button class = "button">Frolick</button>
    <script type = "text/javascript" src = "scripts/petScript.js"></script>
  </body>
</span>
</html>

