<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Profile</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<span>
	<body>
		<div class="topnav">
			<a href="profile" class="active">Profile</a> 
			<a href="playCenter">Current Pet</a> 
			<a href="shop">Shop</a> 
			<a href="help">Help</a>

		</div>
		<h2>Profile</h2>
		<canvas id="petCenter" width="1400" height="600"
			style="border: 3px solid"></canvas>
		<br>
		<div>
			<div class = "inline half left center">
				<h3>Tamagos</h3>
				<ul class="center">
					<li>None</li>
				</ul>
			</div>
			<div class = "inline half right center">
			<h3>Stats</h3>
			<ul class="center">
				<li>None</li>
			</ul>
			</div>
		</div>
	</body>
</span>
</html>

