<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Profile</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<span>
	<body>
		<div class="topnav">
			<a href="profile" class="active">Profile</a> 
			<a href="playCenter">Current Pet</a> 
			<a href="shop">Shop</a> 
			<a href="help">Help</a>

		</div>
		<h2>Profile</h2>
		<p class = "center"> HEY BRUH BRUH heard u wanna see some of your lil virtual pets. if u want that dumb shit go check out b spears group project. we here to break knees and fuck toma-chads</p>
		<canvas id="petCenter" width="1400" height="600"
			style="border: 3px solid"></canvas>
		<br>
		<div>
			<h3 class = "tomago">Tamagos</h3>
			<ul class = "inline">
				<li class = "tomago">None</li>
			</ul>
			<h3 class = "stats">Stats</h3>
			<ul class = "inline">
				<li class = "stats">None</li>
			</ul>
		</div>
	</body>
</span>
</html>

