<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Train</title>
      <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <span>
  <body>
    <h2>Train</h2>
    <canvas id="petCenter" width="1400" height="600" style="border:3px solid"></canvas>
    <br>
    <script type = "text/javascript" src = "scripts/petScript.js"></script>
  </body>
</span>
</html>

