/* Colors
#05668D (sea blue)
#028090 (seaweed)
#00A896 (dark green)
#02C39A (light green)
#F0F3BD (yellow)
#EDEDF4 (white)
#0F1108 (black)
#EF8354 (red-orange)
 */

/* Styling for Everything */
* {
	background-color: #028090;
	color: #13070C;
	font-family: 'Work Sans', sans-serif;
	text-align: left;
	padding: 0;
	margin: 0;
}

a {
	color: #13070C;
	font-style: bold;
}

/* Styling for Headers */
h1, h2, h3, h4, h5, h6 {
	color: #EDEDF4;
	font-family: 'Work Sans', sans-serif;
	font-style: bold;
	text-align: center;
}

h1 {
	font-size: 60px;
	padding: 30px;
}

h2 {
	font-size: 40px;
	padding: 10px;
}

h3 {
	font-size: 30px;
}

/* Spacing */
hr {
	border-color: #EDEDF4;
	border-width: 5px;
}

p {
	color: #EDEDF4;
	font-size: 20px;
}
#topDivPush {
	height: 200px;
	width: 100%;
}

ul {
	padding-left: 0; 
	text-align:center; 
	list-style-type:none;
}

/* Canvas */
canvas {
	border: 5px solid #F0F3BD !important;
	background-color: #F0F3BD;
	display: block;
	width: 100%;
	height: 600px;
}

/* Input Boxes */
input[type=text], input[type=password] {
	text-align: center;
    color: #EDEDF4;
	font-family: 'Work Sans', sans-serif;
	border: 2px solid;
	border-radius: 2px;
	border-color: #EDEDF4;
	width: 300px;
	height: 30px;
	padding: 5px 5px;
	margin-left: 20px;
}

/* Buttons */
.button {
	background-color: #EDEDF4;
	color: #028090 !important;
	border: 4px solid;
	border-radius: 10px;
	border-color: #EDEDF4;
	width: 200px;
	height: 40px;
	padding: 5px 5px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.button a:hover {
	background-color: #02C39A;
}

/* Navigation Bar */
.topnav {
	background-color: #00A896 !important;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #EDEDF4;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	background-color: #00A896;
}

.topnav a:hover {
	background-color: #02C39A;
}

.topnav a.active {
	background-color: #EF8354;
}


/* Pop-ups, dimmers and related */
#page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#window {
  position: fixed;
  left: 25%;
  right: 25%;
  bottom: 25%;
  top: 25%;
  background-color: #028090;
  padding: 10px;
}


.stats {
	text-align: right;
	color: #EDEDF4;
	font-family: 'Work Sans', sans-serif;
	font-style: bold;
	font-size: 20px;
}

.tomago {
	text-align: left;
	color: #EDEDF4;
	font-family: 'Work Sans', sans-serif;
	font-style: bold;
	font-size: 20px;
}

.tomago:hover{
	color: #EF8354;
}

/* Classes */
.center { text-align: center !important; }
.inline { display: inline-block; }
.half { width: 50%; }
.left { float: left; }
.right { float: right; }

div.ex1 {
  width:700px;
  margin:auto;
}